<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="c19091">  <td>17/11/07 12:59:36</td>   <td>0</td> <td title="&gt;&gt;TestBase.initSuite(java.lang.String)[pri:0, instance:Rakuten.TestAutomationTask.tests.CheckoutTest@635eaaf1]">&gt;&gt;initSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@959869407</td>   <td></td> </tr>
<tr bgcolor="c19091">  <td>17/11/07 12:59:36</td>   <td>22</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.getDriverForTest(java.lang.String)[pri:0, instance:Rakuten.TestAutomationTask.tests.CheckoutTest@635eaaf1]">&gt;&gt;getDriverForTest</td> 
<td>&nbsp;</td>  <td>main@959869407</td>   <td></td> </tr>
<tr bgcolor="c562f7">  <td>17/11/07 12:59:40</td>   <td>3935</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CheckoutTest.verifyCheckout()[pri:0, instance:Rakuten.TestAutomationTask.tests.CheckoutTest@635eaaf1]">verifyCheckout</td> 
  <td>main@959869407</td>   <td></td> </tr>
<tr bgcolor="c19091">  <td>17/11/07 13:02:03</td>   <td>146522</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.teardown()[pri:0, instance:Rakuten.TestAutomationTask.tests.CheckoutTest@635eaaf1]">&lt;&lt;teardown</td> 
<td>&nbsp;</td>  <td>main@959869407</td>   <td></td> </tr>
</table>
