<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Settings</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="ceabc1">  <td>17/11/04 19:21:45</td>   <td>0</td> <td title="&gt;&gt;TestBase.initSuite(java.lang.String)[pri:0, instance:Rakuten.TestAutomationTask.tests.LoginTests@77caeb3e]">&gt;&gt;initSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1333592072</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>17/11/04 19:21:45</td>   <td>34</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.getDriverForTest(java.lang.String)[pri:0, instance:Rakuten.TestAutomationTask.tests.LoginTests@77caeb3e]">&gt;&gt;getDriverForTest</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@1271966627</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>17/11/04 19:21:45</td>   <td>35</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.getDriverForTest(java.lang.String)[pri:0, instance:Rakuten.TestAutomationTask.tests.CheckoutTests@1e88b3c]">&gt;&gt;getDriverForTest</td> 
<td>&nbsp;</td>  <td>pool-1-thread-2@1539380938</td>   <td></td> </tr>
<tr bgcolor="74d26a">  <td>17/11/04 19:21:50</td>   <td>5160</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CheckoutTests.verifyCheckout()[pri:0, instance:Rakuten.TestAutomationTask.tests.CheckoutTests@1e88b3c]">verifyCheckout</td> 
  <td>pool-1-thread-2@1539380938</td>   <td></td> </tr>
<tr bgcolor="81b0a2">  <td>17/11/04 19:21:50</td>   <td>5484</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTests.loginWithEmptyUsernamePassword()[pri:0, instance:Rakuten.TestAutomationTask.tests.LoginTests@77caeb3e]">loginWithEmptyUsernamePassword</td> 
  <td>pool-1-thread-1@1271966627</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>17/11/04 19:26:50</td>   <td>305298</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.teardown()[pri:0, instance:Rakuten.TestAutomationTask.tests.CheckoutTests@1e88b3c]">&lt;&lt;teardown</td> 
<td>&nbsp;</td>  <td>pool-1-thread-2@1539380938</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>17/11/04 19:26:50</td>   <td>305589</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.teardown()[pri:0, instance:Rakuten.TestAutomationTask.tests.LoginTests@77caeb3e]">&lt;&lt;teardown</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@1271966627</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>17/11/04 19:26:51</td>   <td>306621</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.getDriverForTest(java.lang.String)[pri:0, instance:Rakuten.TestAutomationTask.tests.LoginTests@77caeb3e]">&gt;&gt;getDriverForTest</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@1271966627</td>   <td></td> </tr>
<tr bgcolor="81b0a2">  <td>17/11/04 19:26:55</td>   <td>310494</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTests.loginWithInvalidPassword()[pri:0, instance:Rakuten.TestAutomationTask.tests.LoginTests@77caeb3e]">loginWithInvalidPassword</td> 
  <td>pool-1-thread-1@1271966627</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>17/11/04 19:30:56</td>   <td>551547</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.teardown()[pri:0, instance:Rakuten.TestAutomationTask.tests.LoginTests@77caeb3e]">&lt;&lt;teardown</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@1271966627</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>17/11/04 19:30:57</td>   <td>552240</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.getDriverForTest(java.lang.String)[pri:0, instance:Rakuten.TestAutomationTask.tests.LoginTests@77caeb3e]">&gt;&gt;getDriverForTest</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@1271966627</td>   <td></td> </tr>
<tr bgcolor="81b0a2">  <td>17/11/04 19:31:00</td>   <td>555073</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTests.loginWithValidCredentials()[pri:0, instance:Rakuten.TestAutomationTask.tests.LoginTests@77caeb3e]">loginWithValidCredentials</td> 
  <td>pool-1-thread-1@1271966627</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>17/11/04 19:36:00</td>   <td>855212</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.teardown()[pri:0, instance:Rakuten.TestAutomationTask.tests.LoginTests@77caeb3e]">&lt;&lt;teardown</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@1271966627</td>   <td></td> </tr>
</table>
