<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>TestSuite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="ceabc1">  <td>18/01/18 14:19:28</td>   <td>0</td> <td title="&gt;&gt;TestBase.initSuite(java.lang.String)[pri:0, instance:Rakuten.TestAutomationTask.tests.LoginTest@77caeb3e]">&gt;&gt;initSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1333592072</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>18/01/18 14:19:28</td>   <td>28</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.getDriverForTest(java.lang.String)[pri:0, instance:Rakuten.TestAutomationTask.tests.CheckoutTest@1e88b3c]">&gt;&gt;getDriverForTest</td> 
<td>&nbsp;</td>  <td>pool-1-thread-2@579181784</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>18/01/18 14:19:28</td>   <td>28</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.getDriverForTest(java.lang.String)[pri:0, instance:Rakuten.TestAutomationTask.tests.LoginTest@77caeb3e]">&gt;&gt;getDriverForTest</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@1554694254</td>   <td></td> </tr>
<tr bgcolor="74d26a">  <td>18/01/18 14:19:33</td>   <td>5384</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CheckoutTest.verifyCheckout()[pri:0, instance:Rakuten.TestAutomationTask.tests.CheckoutTest@1e88b3c]">verifyCheckout</td> 
  <td>pool-1-thread-2@579181784</td>   <td></td> </tr>
<tr bgcolor="81b0a2">  <td>18/01/18 14:19:33</td>   <td>5870</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.loginWithEmptyUsernamePassword()[pri:0, instance:Rakuten.TestAutomationTask.tests.LoginTest@77caeb3e]">loginWithEmptyUsernamePassword</td> 
  <td>pool-1-thread-1@1554694254</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>18/01/18 14:20:46</td>   <td>78831</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.teardown()[pri:0, instance:Rakuten.TestAutomationTask.tests.LoginTest@77caeb3e]">&lt;&lt;teardown</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@1554694254</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>18/01/18 14:20:48</td>   <td>80700</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.getDriverForTest(java.lang.String)[pri:0, instance:Rakuten.TestAutomationTask.tests.LoginTest@77caeb3e]">&gt;&gt;getDriverForTest</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@1554694254</td>   <td></td> </tr>
<tr bgcolor="81b0a2">  <td>18/01/18 14:20:52</td>   <td>84787</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.loginWithInvalidPassword()[pri:0, instance:Rakuten.TestAutomationTask.tests.LoginTest@77caeb3e]">loginWithInvalidPassword</td> 
  <td>pool-1-thread-1@1554694254</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>18/01/18 14:21:34</td>   <td>126527</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.teardown()[pri:0, instance:Rakuten.TestAutomationTask.tests.CheckoutTest@1e88b3c]">&lt;&lt;teardown</td> 
<td>&nbsp;</td>  <td>pool-1-thread-2@579181784</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>18/01/18 14:21:41</td>   <td>133432</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.teardown()[pri:0, instance:Rakuten.TestAutomationTask.tests.LoginTest@77caeb3e]">&lt;&lt;teardown</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@1554694254</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>18/01/18 14:21:43</td>   <td>135033</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.getDriverForTest(java.lang.String)[pri:0, instance:Rakuten.TestAutomationTask.tests.LoginTest@77caeb3e]">&gt;&gt;getDriverForTest</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@1554694254</td>   <td></td> </tr>
<tr bgcolor="81b0a2">  <td>18/01/18 14:21:47</td>   <td>139321</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.loginWithValidCredentials()[pri:0, instance:Rakuten.TestAutomationTask.tests.LoginTest@77caeb3e]">loginWithValidCredentials</td> 
  <td>pool-1-thread-1@1554694254</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>18/01/18 14:22:42</td>   <td>194218</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.teardown()[pri:0, instance:Rakuten.TestAutomationTask.tests.LoginTest@77caeb3e]">&lt;&lt;teardown</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@1554694254</td>   <td></td> </tr>
</table>
